@using MarketRatesEvaluation.Views.InputFileHandler
@model DetailsModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    //Model.OnGet();
}

<h2>Separate page model</h2>
<p>
    @Model.Message+"\t this is the details page";
</p>
