@using MarketRatesEvaluation.Views.InputFileHandler
@model DetailsModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@if (Model != null)
{
    <h2>@Model.Message</h2>
}
else
{
    <h2>@Model.Message+"\t Model is null"</h2>
}
<a asp-action="Create">Ingest a CSV file now</a>
